@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neo-bg text-black antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-left: 2px solid black;
}
::-webkit-scrollbar-thumb {
  background: #000;
  border: 2px solid black;
}
::-webkit-scrollbar-thumb:hover {
  background: #333;
}
